
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
</head>
<body>

<main class="container">

    <nav>
        <ul>
            <li>
                <a href="{% url 'filmy:seznam' %}"> Seznam filmu </a>
            </li>
        </ul>
    </nav>

    <h1> {{ film.nazev }} </h1>

    <p> {{ film.popis }} </p>

    <img src= "https://picsum.photos/500/500"> 

</main>

</body>
</html>