
<!DOCTYPE html> {% load static %}
<html lang = "en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href= "{% static 'filmy/style.css' %}">
    <title>title</title>
</head>
<body>

<main class="container">

    <h1> SEZNAM </h1>


    {% include 'filmy/search_form.html' %} {% comment %} projetky\FilmyProjekt_\filmy\templates\filmy\search_form.html {% endcomment %}

    <br>

    <ul>
        {% for slug, data in filmy_data.items %}
        
        <li> 
            <a href="{% url 'filmy:detail' slug=slug %}"> {{ data.nazev }} </a> 
        </li>

        {% endfor %}
    </ul>
</main>

</body>
</html>